body {
  font-family: "Noto Sans Khmer", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
}

/*Design*/
section.home {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Adjusted to ensure it covers the viewport height */
  background-color: #35dce8; /* Fallback color in case the image doesn't load */
  background-image: url('https://static.vecteezy.com/system/resources/previews/007/937/866/non_2x/simple-blue-hexagon-line-on-white-background-medicine-and-science-concept-abstract-healthy-and-medical-background-template-brochure-design-technology-and-science-wallpaper-template-vector.jpg');
  background-size: cover; /* Ensures the image covers the section */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

/*   === Home Section Styling Starts ===   */
.home .banner{
  width:80%;
  min-height: 70vh;
  padding: 100px 8% 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Kantumruy Pro", sans-serif;
}

.banner .banner-desc h2{
  font-size: 40px;
  color: #02bcd5;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-bottom: 10px;
}
.banner .banner-desc p{
  color: #00568f;
  line-height: 1.4;
  margin-bottom: 50px;
}
.banner-img .banner-img-container img{
  width: 90%;
  height: auto;
}
.banner-img-container .states .total-courses{
  position: absolute;
  padding: 6px 10px 6px 6px;
  background-color: #26a8ff;
  border-radius: 30px;
  bottom: 15%;
  left: 1280px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 247, 255, 0.976);
}
.states .total-courses .icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009f67;
  margin-right: 9px;
}
.states .total-courses .icon i{
  font-size: 22px;
  color: #00568f;
}
.states .total-courses .desc{
  display: flex;
  flex-direction: column;
}
.states .total-courses .desc span:nth-child(1){
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 2px;
}
.banner-img-container .states .courses-ratings{
  position: absolute;
  width: 90px;
  height: 90px;
  padding: 10px;
  border-radius: 50%;
  background-color: #3eabf4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 200px;
  right: 150px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}
.states .courses-ratings span:nth-child(1){
  color: #9f3d00;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.states .courses-ratings span:nth-child(1) i{
  color: rgb(255, 217, 0);
  font-size: 14px;
}
.states .courses-ratings span:nth-child(2){
  color: #2327f3;
  font-size: 15px;
  text-align: center;
}

.banner .banner-desc .search-bar{
  position: relative;
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  
}
.banner-desc .search-bar input{
  width: 100%;
  height: 100%;
  padding: 0px 60px 0px 10px;
  font-size: 17px;
  letter-spacing: 1px;
  background-color: #d6f0f0;
  color: #000000;
  border: 2px solid #d6f0f0;
  border-radius: 5px;
  outline-color: var(--primary-clr);
}
.banner-desc .search-bar i{
  position: absolute;
  height: 100%;
  width: 50px;
  background-color: #d6f0f0;
  right: 0;
  color: #0089b7;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/*   === Services Section Styling Starts ===   */
section.services{
  width: 70%;
  padding: 10px 15% 20px;
  font-family: "Kantumruy Pro", sans-serif;
  
}
.services .services-contents{
  width: 100%;
  display: flex;

}
.services-contents .service-box{
  flex-basis: calc(calc(100% / 3) - 2%);
  padding: 25px 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.services-contents .service-box:hover{
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.service-box .service-icon{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-clr);
  outline: 1px solid var(--primary-medium-clr);
  outline-offset: 10px;
}
.service-box .service-icon i{
  font-size: 24px;
  color: var(--light-heading-clr);
}
.service-box .service-desc{
  margin-top: 25px;
}
.service-box .service-desc h2{
  margin-bottom: 10px;
  color: var(--dark-heading-clr);
  font-size: 22px;
}
.service-box .service-desc p{
  line-height: 1.4;
  color: var(--dark-text-clr);
}
.service-box:nth-child(1) .service-icon{
  background-color: #fef0ef;
  outline-color: #fef0ef;
}
.service-box:nth-child(1) .service-icon i{
  color: #f76250;
}
.service-box:nth-child(2) .service-icon{
  background-color: #e8f9ef;
  outline-color: #e8f9ef;
}
.service-box:nth-child(2) .service-icon i{
  color: #2f9355;
}
.service-box:nth-child(3) .service-icon{
  background-color: #f1f0fe;
  outline-color: #f1f0fe;
}
.service-box:nth-child(3) .service-icon i{
  color: #5a49f3;
}
/*   === Services Section Styling Ends ===   */

/*   === Courses Section Styling Starts ===   */
section.courses{
  width: 85%;
  padding: 100px 7.6% 200px;
  font-family: "Kantumruy Pro", sans-serif;

}
.courses .section-header{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.courses .section-header .courses-btn{
  position: absolute;
  right: 0;
  bottom: 40px;
  padding: 10px 26px;
  font-family: "Kantumruy Pro", sans-serif;
}
.courses .course-contents{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Kantumruy Pro", sans-serif;

}

.courses .course-contents .course-card{
  flex-basis: calc(calc(128% / 4) - 1.2rem);
  border: 1px solid #00d9ff;
  padding: 10px;
  border-radius: 9px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.course-contents .course-card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.course-contents .course-card .category{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.course-card .category img{
  position: absolute;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  right: 15px;
  top: -50%;
  outline: #0000ff;
  outline-offset: 3px;
}
.course-card .category .subject{
  padding: 0px 10px;
  background-color: #aedfff;
  border-radius: 50px;
}
.course-card .category .subject h3{
  font-size: 13px;
  font-weight: 500;
  color: #006789;
}
.course-card .course-title{
  font-size: 20px;
  color: #00b6b9;
  font-family: "Kantumruy Pro", sans-serif;

}
.course-card .course-desc{
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.course-card .course-desc span{
  font-size: 14px;
  font-weight: 500;
  color: #3f85dc;
}
.course-card .course-desc span i{
  color: #00b2da;
}
.course-card .course-ratings{
  padding: 15px 0px 0px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #000000;
}
.course-card .course-ratings span{
  color: #f15454;
  font-size: 18px;
  font-weight: bold;
}
.course-card .course-ratings span:nth-child(1) i{
  color: rgb(255, 217, 0);
  font-size: 14px;
}
.course-card .course-ratings span b{
  font-size: 20px;
}

.teacher-btn {
  font-family: "Noto Sans Khmer", sans-serif;
  background-color: #0089b7;
  border: none;
  margin-top: 2rem;
  border-radius: 0.5rem;
  height: 3rem;
  color: #fff;
}

.instructor{
  background-color: #296c7b;
  color: #fff;
  padding: 5rem;
}

/*   === Courses Section Styling Ends ===   */

.underlinks{
  margin-top: 10rem;
}