body {
  font-family: "Noto Sans Khmer", sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-color: #edf2f9;
  width: fit-content;
  background-size: 100%;
  display: flex;
  overflow-x: hidden;
}

.container {
  position: absolute;
  top: 6rem;
  left: 5rem;
  width: 85rem;
  margin: 0 auto;
}

.main-title {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #222;
}

.card-grid {
  display: grid;
  width: 0;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  scale: 0.8;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  width: 25rem;
  height: 15rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.styleMTx {
  color: rgb(255, 255, 255);
  position: absolute;
  width: 20rem;
  text-align: center;
  margin-top: 5rem;
  left: 2.4rem;
  transition: all 0.5s;
}
.styleTx {
  color: rgb(255, 255, 255);
  position: absolute;
  margin-top: 8rem;
  width: 20rem;
  text-align: center;
  left: 2.3rem;
  opacity: 0;
  transition: all 0.5s;
}
.card:hover .styleMTx {
    color: #007bff;
    margin-top: 4rem;
  }
.card:hover .styleTx {
  opacity: 1;
  margin-top: 7rem;
}

.card-image {
  height: 190px;
  background-size: cover;
  background-position: center;
}
.card-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 79%;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
}

.card:hover .card-image::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-content {
  padding: 15px;
  text-align: left;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #000000;
}

.card-meta span {
  display: flex;
  align-items: center;
  gap: 3px;
}
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
.react span{
    margin-left: 0.5rem;
}

.underlinks{
  margin-top: 45rem;
}